@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.login-form {
    padding: 5% 35%;
}

.info-form {
    padding: 5% 25%;
}

.form-group {
    margin-bottom: 10px;
}

.response {
    color: teal;
    margin: 15%;
    text-align: center;
}

#file {
    margin-top: 10px;
}

aside {
    color: #ba2121;
    margin-bottom: 10px;
}

select:invalid {
    color: gray;
}

h1 {
    color: #142850;
    font-family: 'Baloo 2', cursive;
}

.navbar-brand {
    color: #086972 !important;
    font-size: 1.7rem !important;

    font-family: 'Roboto', sans-serif;
}